<footer class="bg-dark mt-5 text-white">
    <div class="container p-4">
        <section class="mb-4 row">
            <p class="lead col-6 text-right">Contactez-moi sur les réseaux sociaux :</p>
            <!-- Facebook -->
            <div class="col-6 text-left">
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/aliabdelkader.aidi"
                    role="button"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/AliAydi10" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/aliabdelkaderaydi/"
                    role="button"><i class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/ali-aydi-a072621b6/"
                    role="button"><i class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Alii-Aydi" role="button"><i
                        class="fab fa-github"></i></a>
            </div>
        </section>
        <div class="text-light mt-3 text-center">Email : aliayditn02@gmail.com</div>
        <!-- Section: Form -->
        <section class="">
            <form action="/" method="post">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Inscrivez-vous à notre newsletter</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="form-outline form-white mb-4">
                            <input name="email" type="email" id="form5Example21" class="form-control" required />
                            <label class="form-label" for="form5Example21">Email address</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
            <!-- Section: Form -->
        </section>
        <div class="text-center p-3">
            © 2022 Copyright:
            <a class="text-white" href="">Ali Aydi</a>
        </div>
</footer>