<% layout('layout/boilerplate') %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4777406690507746"
        crossorigin="anonymous"></script>

    <section class="collector container-sm mt-5">
        <% if (success.length) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <% } %>


                <% if (error.length) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <% } %>
                        <h1 class="display-4">Calculer votre Moyenne</h1>
                        <p class="lead mb-5">
                            Etudiant universitaire, élève d'école secondaire ou collège? Vous êtes au bon endroit.
                        </p>
                        <div class="alert alert-danger alert_vide d-none" role="alert">
                            Eshec de validation ! Esseyer d'entrer des donnes valides
                        </div>
                        <div class="row">
                            <div class="form col-md-4">
                                <div class="form-group">
                                    <label for="nom">Nom du matiere</label>
                                    <input type="text" class="form-control" id="nom" aria-describedby="Nom du matiere">
                                </div>
                                <div class="form-group">
                                    <label for="regime">Choisir votre regime</label>
                                    <select id="regime" class="form-control">
                                        <option value="r1">Note 1 * 0.1 + Note 2 * 0.2 + Note 3 * 0.7</option>
                                        <option value="r2">Note 1 * 0.2 + Note 2 * 0.4 + Note 3 * 0.4</option>
                                        <option value="r3">Note 1 * 0.3 + Note 2 * 0.7</option>
                                        <option value="r4">(Note 1 + Note 2 + Note 3 * 2)/4</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="coff">Coefficient</label>
                                    <input type="text" class="form-control" id="coff" aria-describedby="Cofficient">
                                </div>
                                <div class="form-group">
                                    <label for="n1">Note 1</label>
                                    <input type="text" class="form-control" id="n1" aria-describedby="Note 1">
                                    <small class="form-text text-muted">Si vous ne savez pas le note Laissez-le
                                        10</small>
                                </div>
                                <div class="form-group">
                                    <label for="n2">Note 2</label>
                                    <input type="text" class="form-control" id="n2" aria-describedby="Note 2">
                                </div>
                                <div class="form-group">
                                    <label for="n3">Note 3</label>
                                    <input type="text" class="form-control" id="n3" aria-describedby="Note 3">
                                </div>
                                <button id="ajout" type="button" class="btn btn-success">Ajouter</button>
                                <button id="maj" type="button" class="btn btn-info d-none">Maj</button>
                                <button id="anul" type="button" class="btn btn-danger">Anuler</button>
                            </div>
                            <div class="col-md-8 mt-5 mt-md-4 list d-table">
                                <table class="table mb-3">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Num</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Regime</th>
                                            <th scope="col">Coefficient</th>
                                            <th scope="col">Note_1</th>
                                            <th scope="col">Note_2</th>
                                            <th scope="col">Note_3</th>
                                            <th scope="col">Moyenne</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="form-group w-50">
                                    <label for="mg">Moyenne generale</label>
                                    <output type="text" class="form-control" id="mg"
                                        aria-describedby="Moyenne generale">
                                </div>
                                <a href="" id="clear" class="btn btn-outline-dark">Clear</a>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h1 class="">Comment calculer une moyenne ?</h1>
                            <p class="lead">Le calcul de votre moyenne simestrielle est une partie importante de
                                l'évaluation de vos
                                progrès dans une classe. Pour calculer votre moyenne simestrielle, vous devez d'abord
                                examiner toutes les notes individuelles que vous avez obtenues tout au long du
                                simestre. Chaque note doit être pondérée en fonction de sa contribution à votre note
                                globale. Par exemple, un examen de DS peut valoir 20%, 40% ou 30% de votre note d'une
                                matière,
                                tandis qu'un Examen final vaut jusqu'à 70 %. Ensuite, chaque note obtenu dans une
                                matière est multiplié par son coefficient pour obtenir un score, et le coefficient est
                                déterminé en fonction de l'importance de la matière dans le programme. En fin de compte,
                                la somme de toutes les scores est divisée par la somme des coefficient pour chaque
                                matière, et une moyenne générale est obtenue.</p>
                        </div>
    </section>

    <script type="text/javascript">
        var infolinks_pid = 3382704;
        var infolinks_wsid = 0;
    </script>
    <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>