body {
    background: url('https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

table {
    table-layout: fixed;
    width: 100%;
    font-size: 0.75em;
    overflow: hidden;
}

table button {
    font-size: 0.75em !important;
    margin-left: -10px !important;
}

@media (max-width:1000px) {
    table {
        font-size: 0.5em;
    }
}