html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

table {
    table-layout: fixed;
    width: 100%;
    font-size: 0.75em;
    overflow: hidden;
}

table button {
    font-size: 0.75em !important;
    margin-left: -10px !important;
}

.about p {
    color: black !important;
}

footer {
    position: sticky;
    top: 100%;
}

img {
    width: 400px;
    height: 400px;
}

@media (max-width:1000px) {
    table {
        font-size: 0.5em;
    }
}