html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

table {
    table-layout: fixed;
    width: 100%;
    font-size: 0.75em;
    overflow: hidden;
    border-radius: 2em;
}

table button {
    font-size: 0.75em !important;
    margin-left: -10px !important;
}

.about p {
    color: black !important;
}

footer {
    position: sticky;
    top: 100%;
}

.about img {
    width: 400px;
    height: 400px;
}

@media (max-width:1000px) {
    table {
        font-size: 0.5em;
    }
}

.collector input,
.collector select,
.collector output {
    border-radius: 2em;
    border: 1px solid grey;
}

.collector button {
    padding: 0.75em 1em;
    font-size: 18px;
    font-weight: 100;
    border-radius: 2em;
    border: none;
}